In [1]:
import requests
import pandas as pd

url = 'https://covid19.who.int/WHO-COVID-19-global-table-data.csv'

#r = requests.get(url)
df = pd.read_csv(url)

df = df.filter(['Name', 'Cases - newly reported in last 7 days per 100000 population', 'Cases - newly reported in last 24 hours'])
df.head()

,Name,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours
0,Global,34.077173,316173
1,United States of America,175.920000,7689
2,India,5.690000,12194
3,Brazil,149.740000,51546
4,Russian Federation,72.950000,14861

In [2]:
import requests
import pandas as pd

url = 'https://covid19.who.int/WHO-COVID-19-global-table-data.csv'

#r = requests.get(url)
df = pd.read_csv(url)

df = df.filter(['Name', 'Cases - newly reported in last 7 days per 100000 population', 'Cases - newly reported in last 24 hours'])
df.head(10)

,Name,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours
0,Global,34.077173,316173
1,United States of America,175.920000,7689
2,India,5.690000,12194
3,Brazil,149.740000,51546
4,Russian Federation,72.950000,14861
5,The United Kingdom,150.580000,15144
6,France,195.720000,20279
7,Spain,148.350000,0
8,Italy,141.640000,13893
9,Turkey,65.570000,7763

In [3]:
import requests
import pandas as pd

url = 'https://covid19.who.int/WHO-COVID-19-global-table-data.csv'

#r = requests.get(url)
df = pd.read_csv(url)

df = df.filter(['Name', 'Cases - newly reported in last 7 days per 100000 population', 'Cases - newly reported in last 24 hours'])
df.Name

0                        Global
1      United States of America
2                         India
3                        Brazil
4            Russian Federation
                 ...
233                Saint Helena
234                     Tokelau
235                       Tonga
236                Turkmenistan
237                      Tuvalu
Name: Name, Length: 238, dtype: object

In [4]:
df.head()

,Name,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours
0,Global,34.077173,316173
1,United States of America,175.920000,7689
2,India,5.690000,12194
3,Brazil,149.740000,51546
4,Russian Federation,72.950000,14861

In [5]:
df.France

AttributeError: 'DataFrame' object has no attribute 'France'

In [6]:
df['France']

KeyError: 'France'

In [7]:
df.loc[df['Name']=='France']

,Name,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours
6,France,195.72,20279

In [8]:
df

,Name,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours
0,Global,34.077173,316173
1,United States of America,175.920000,7689
2,India,5.690000,12194
3,Brazil,149.740000,51546
4,Russian Federation,72.950000,14861
...,...,...,...
233,Saint Helena,0.000000,0
234,Tokelau,0.000000,0
235,Tonga,0.000000,0
236,Turkmenistan,0.000000,0
237,Tuvalu,0.000000,0

In [9]:
df.loc[df['Name']=='France'].values

array([['France', 195.72, 20279]], dtype=object)

In [10]:
arr = df.loc[df['Name']=='France'].values

In [11]:
arr

array([['France', 195.72, 20279]], dtype=object)

In [12]:
arr[0]

array(['France', 195.72, 20279], dtype=object)

In [13]:
df.loc[df['Name']=='France'].values[0]

array(['France', 195.72, 20279], dtype=object)

In [14]:
df.loc[df['Name']=='France', 'Cases - newly reported in last 7 days per 100000 population'].values[0]

195.72

In [15]:
df.loc[df['Name']=='France', 'Cases - newly reported in last 7 days per 100000 population'].values

array([195.72])

In [16]:
df.loc[df['Name']=='France', 'Cases - newly reported in last 24 hours'].values[0]

20279